

@font-face {
    font-family: DiceD4;
    src: url('../assets/DpolyFourSider-GM6P.ttf');
}

@font-face {
    font-family: DiceD6;
    src: url('../assets/DpolySixSider-jqRO.ttf');
}


@font-face {
    font-family: DiceD8;
    src: url('../assets/DpolyEightSider-JvWo.ttf');
}

@font-face {
    font-family: DiceD10;
    src: url('../assets/DpolyTenSider-z1Jw.ttf');
}

@font-face {
    font-family: DiceD12;
    src: url('../assets/DpolyTwelveSider-5KWZ.ttf');
}

@font-face {
    font-family: DiceD20;
    src: url('../assets/DpolyTwentySider-62jq.ttf');
}
